<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    </head>
    <body>
        <nav>
            <div class = "navigation-left">
                <h1>hello</h1>
            </div>
            <div class = "navigation-right">
                {% if Login == False %}
                    <ul>
                        <li><a href ="{{url_for('login')}}"><button>LogIn</button></a></li>
                        <li><a href ="{{url_for('signup')}}"><button>SignUp</button></a></li>
                    </ul>
                {% endif %}
                {% if Login == True %}
                    <ul>
                        <li><a href = "{{url_for('logout')}}"><button>Logout</button></a></li>
                    </ul>
                {% endif %}
            </div>
        </nav>
        <hr>
        
        <div class = "main">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>